<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Portafolio web</title>
</head>
<body>
    <div class="container text-center">
    <div>
        <div id="header">
            <center>
            <div id="content">
            <h1>Iñaki Nava Rodriguez</h1>
            <h2>Programador Web Full-Stack</h2>
        </div>
    </center>
            <div id="img-cont">
                <img src="img/bg-body.jpg" alt="" width="1100px">
            </div>
        </div>

    <div id="about-me">
        <h2>Acerca de mi</h2>
        <p>Soy Iñaki Nava Rodriguez, desarrollador de aplicaciones web y moviles,
            egresado de la carrera de Ingeieria en Sistemas Computacionales del Instituto
            Tecnologico de Ciudad Jiménez, he participado en competencias de programacion 
            tales como el maraton Behind the code creado por la empresa IBM en la cual participamos un 
            total de 70,000 desarrolladores del area de Machine Lerning, Data Sience e Inteligencia artificial,
            en la cual optube el puesto numero 192 de toda latinoamerica. 
        </p><br>
    </div>

    <div id="proyects">
        <a href="https://github.com/NavaSan/IBM-Maratona">Desafios de la maraton</a>
    </div>
    <div id="conocimiento" class="row">
        <center>
            <div>
                <h2>Conocimemtos</h2>
            </div>
            <div id="skils-web" class="row">
            <div id="back" class="col-sm-6">
                <h3>Back-End</h3>
                <p>Dentro de la parte del lado del servidor manejo bases de datos SQL y no SQL,las tecnologias que impelmentento en el lado
                    del servidor son:
                </p>
                <ul>
                <li>PHP</li>
                <li>MySQL</li>
                <li>Python</li>
                <li>FireBase</li>
                <li>MongoDB</li>
                <li>Spring</li>
            </ul>
            </div>
            <div id="front" class="col-sm-6">
                <h3>Front-End</h3>
                <p>En la parte del front-end tengo conocimento en maquetacion de sitios web responsivos, ademas de manejar
                    frameworks para facilitar el proceso de maquetacion, los frameworks y tecnologias que manejo:
                </p>
                <ul>
                    <li>Bootstrap 3</li>
                    <li>CSS 3</li>
                    <li>JavaScripr</li>
                    <li>Node.js</li>
                </ul>
            </div>
        </div>
            <div id="Mobil">
                <h3>Progeamador Movil</h3>
                <p>Dentro de la programacion de aplicaciones de dispocitivos moviles he trabajado con varios IDE's y frameworks
                    como lo serian:
                </p>
                    <ul>
                        <li>Android Srudio</li>
                        <li>Flutter</li>
                        <li>Ionic</li>
                        <li>Xamarin</li>
                    </ul>
                
            </div>
            <footer>
                <div class="container">
                    <a href="https://www.linkedin.com/in/i%C3%B1aki-nava-rodr%C3%ADguez-535459165/">Contacame</a>

                </div>
            </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>